                Tema 83

Recuperar el valor del campo auto_increment en un insert.

In [1]:
import mysql.connector

In [2]:
conexion1=mysql.connector.connect(host="localhost",
user="root",
passwd="",
database="bd1")
cursor1=conexion1.cursor()
sql="insert into articulos(descripcion, precio) values (%s,%s)"
datos=("naranjas", 23.50)
cursor1.execute(sql, datos)
conexion1.commit()
print("Valor del último codigo de artículo generado:", cursor1.lastrowid)
conexion1.close()

Inserción de múltiples filas en una tabla.

In [ ]:
conexion1=mysql.connector.connect(host="localhost",
user="root",
passwd="",
database="bd1")
cursor1=conexion1.cursor()
sql="insert into articulos(descripcion, precio) values (%s,%s)"
filas=[ ("naranjas", 23.50),
("bananas", 34),
("peras", 21),
("sandía", 19.60) ]
cursor1.executemany(sql, filas)
conexion1.commit()
conexion1.close()

Creación de una base de datos y tablas.

In [ ]:
conexion1=mysql.connector.connect(host="localhost",
user="root",
passwd="")
cursor1=conexion1.cursor()
sql="create database bd2"
cursor1.execute(sql)
sql="use bd2"
cursor1.execute(sql)
sql="""create table usuarios (
nombre varchar(30) primary key,
clave varchar(30)
)"""
cursor1.execute(sql)
conexion1.commit()
conexion1.close()

Borrar una base de datos.

In [ ]:
conexion1=mysql.connector.connect(host="localhost",
user="root",
passwd="")
cursor1=conexion1.cursor()
sql="drop database if exists bd2"
cursor1.execute(sql)
sql="create database bd2"
cursor1.execute(sql)
sql="use bd2"
cursor1.execute(sql)
sql="""create table usuarios (
nombre varchar(30) primary key,
clave varchar(30)
)"""
cursor1.execute(sql)
conexion1.commit()
conexion1.close()

Borrar una tabla y crear otra con el mismo nombre.

In [ ]:
conexion1=mysql.connector.connect(host="localhost",
user="root",
passwd="",
database="bd2")
cursor1=conexion1.cursor()
sql="drop table if exists usuarios"
cursor1.execute(sql)
sql="""create table usuarios (
nombre varchar(30) primary key,
clave varchar(30)
)"""
cursor1.execute(sql)
conexion1.commit()
conexion1.close()